hr {
    border-width: 7px;
    border-color: rgb(35, 161, 199);
    border-style: dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 10%;
}

body {
    background-color: #EAF6F6;
}

.heading {
    color: #005792;
    font-family: sans-serif;
}

#profile{
    height: 200px;
    width: 150px;
    border-radius: 100%;
}